@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html,
  body {
    overflow: auto;
    background-color: #1b191d;
  }

  .empty {
    @apply bg-black border border-darkGray;
  }

  .color-dodge {
    mix-blend-mode: color-dodge;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .center-y {
    @apply flex items-center;
  }

  .center-x {
    @apply flex justify-center;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @keyframes dots-animation {
    to {
      clip-path: inset(0 -34% 0 0);
    }
  }

  .loading-dots::after {
    content: '...';
    clip-path: inset(0 100% 0 0);
    animation: dots-animation 2s steps(4) infinite;
  }

  .caret {
    @apply before:w-8 before:h-8 before:bg-lightBlack before:border-t-2 before:border-l-2 before:border-darkGray before:rounded-tl-lg before:rotate-45 before:absolute before:top-0 before:-translate-y-[55%] before:left-1/2 before:-translate-x-1/2;
  }
}
